<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>Med Wassim</h2>

      </div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png" >
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>




  <mat-nav-list>
    <a mat-list-item class="ml-2" style="font-size:15px;">
      Dashboard
    </a>
  </mat-nav-list>


  <mat-accordion multi="true" [displayMode]="displayMode">




    <mat-expansion-panel class="no-shadow">
      <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
        <mat-panel-title>
          Produits
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="ml-0" dense>
        <mat-list-item>
          <a href="#">Catégorie de produit</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#">Produits</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#">Packs</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#">Catégories d'ingrédients</a>
        </mat-list-item>
        <mat-list-item>
          <a href="#">ingrédients</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Utilisateur">Utilisateurs</a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Utilisateur">Mes clients</a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Utilisateur">Payement</a>

  <mat-expansion-panel class="no-shadow my-0">
    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
      <mat-panel-title>
        Commandes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a href="#">Commandes arrivées</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">Commandes en traitement</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">Commandes préts à livrer</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">Commandes préts a emporter</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">Commandes préts a servir</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#"> Historique des Commandes  </a>
      </mat-list-item>
      <mat-list-item>
        <a href="#"> Délai de traitement  </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>



  <mat-expansion-panel class="no-shadow">
    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
      <mat-panel-title>
       Programme fidélité
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a href="#">Configurer le programe</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">Affecter à un client</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>


  <mat-expansion-panel class="no-shadow">
    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
      <mat-panel-title>
       Promotions et offres spéciales
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a href="#">Newsletter</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">Notification push</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">Code promo </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>



  <mat-expansion-panel class="no-shadow">
    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
      <mat-panel-title>
       Gestion de Livraison
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list class="ml-0" dense>
      <mat-list-item>
        <a href="#">Zones de livraison</a>
      </mat-list-item>
      <mat-list-item>
        <a href="#">Mes livraurs</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="/Utilisateur">Information Générales</a>


  </mat-accordion>


</mat-nav-list>
