<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
    <span> Pizzeria LOGO</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">

                <button mat-button [matMenuTriggerFor]="menu">
                   <mat-icon>person_outline</mat-icon>
                   User
                </button>
                <mat-menu #menu="matMenu">

                  <button mat-menu-item>
                      <mat-icon>exit_to_app</mat-icon>
                      Sign out
                  </button>
                  <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    Settings
                </button>

                </mat-menu>


        </ul>

    </div>
</mat-toolbar-row>

</mat-toolbar>
