<div>
    <app-widget-area></app-widget-area>
</div>
<mat-divider></mat-divider>
<br>

<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards"> -->
    <div class="stats-cards">
        <div class="card">
            <mat-card ><app-widget-card></app-widget-card></mat-card>
        </div>
        <div class="card">
            <mat-card ><app-widget-card></app-widget-card></mat-card>
        </div>
        <div class="card">
            <mat-card ><app-widget-card></app-widget-card></mat-card>
        </div>
        <div class="card">
            <mat-card ><app-widget-card></app-widget-card></mat-card>
        </div>
    </div>
<br>

<mat-divider></mat-divider>

<br>
